# Laravel & Node deps
/vendor
/node_modules

# Laravel specific
/public/hot
/storage/*.key

# Environment
/.env
/.env.backup
/.env.example
/.env_local
/.env_server

# IDE + OS
/.idea
.DS_Store
node_modules

_ide_helper.php
.phpstorm.meta.php
